@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gaya untuk Tiptap Editor */
.ProseMirror {
  padding: 1rem;
  min-height: 200px;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p {
  margin-bottom: 1rem;
}

.ProseMirror ul, .ProseMirror ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.ProseMirror h1 { font-size: 2em; }
.ProseMirror h2 { font-size: 1.5em; }
.ProseMirror h3 { font-size: 1.17em; }
.ProseMirror h4 { font-size: 1em; }
.ProseMirror h5 { font-size: 0.83em; }
.ProseMirror h6 { font-size: 0.67em; }

.ProseMirror img {
  max-width: 100%;
  height: auto;
  margin: 0.5rem 0;
}